/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Yellowtail', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Lato', sans-serif;
Google Fonts
*/
.currentSong{
	margin: 5px;
	background-color: grey;
	padding: 10px;
	border-radius: 10px;
}

.songList li{
	border-radius: 10px;

}
.vote{
	margin:auto;
	align-content: center;
}
.listRow{
	margin:auto;
	width: 70%;
}

.listRow{
	margin: auto;
	width: 80%;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.list-group .list-group-item:hover {
	background-color: grey;

}
.SongName{
	font-family: 'Lato', sans-serif;
	font-style: bold;
	font-size: larger;
}
.SongArtist{
	font-family: 'Comfortaa', cursive;
	font-size: large;
}
.SongAlbum{
	font-family: 'Comfortaa', cursive;
	font-size: large;
}
.CurName{
	font-family: 'Lato', sans-serif;
	font-style: bold;
	font-size: xx-large;
}
.CurArtist{
	font-family: 'Comfortaa', cursive;
	font-size:large;
}
.CurAlbum{
	font-family: 'Comfortaa', cursive;
	font-size: large;
}
.icon{
	margin: 0 auto;
    width: 80%;
    font-size: 50px;
    text-align: center;
    align-content: center;
    /*background-color: blue;*/
}
.icon:active{
	color:white;
}
.color2{
	/*background-color: green;*/
}
.voteNumber{
	font-size: 16px;
	font-style: bold;
    text-align: center;
    width: 75%;	
    /*background-color: red;*/

}