<!doctype html>
<html >
	<head>
		<title>Spotlight</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<link rel ="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans|Josefin+Slab|Lato:300|Play|Varela+Round|Yellowtail" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }} ">
		<script type="text/javascript" src={{ url_for('static', filename='script.js') }}></script>
	</head>

	<body ng-app = "mainApp">
		<div ng-controller = "appController">
			<div class = "container">
				<div class="row currentSong">					
					
					<div class = "col-sm-4 col-xs-12">
						<span ng-bind = "curSong.Name"></span>
						<span ng-bind = "curSong.Artist"></span>
						<span ng-bind = "curSong.Album"></span>
					</div> 
					<div class = "col-sm-6 col-xs-6">
						<p>Player time</p>
					</div>
				</div>

				
			</div>
		</div>		
	</body>
</html>