<!doctype html>
<html >
	<head>
		<title>Spotlight</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<link rel ="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans|Josefin+Slab|Lato:300|Play|Varela+Round|Yellowtail" rel="stylesheet">

		<script src="../static/script.js"></script>
		<link rel = "stylesheet" href = "../static/main.css" >

		<!--
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }} ">
		<script type="text/javascript"  src="{{ url_for('static', filename='script.js') }}"></script>
		-->
	</head>

	<body ng-app = "mainApp">
		<div ng-controller = "appController">
			<div class = "container">
				<div class="row currentSong">
					<img class="col-sm-2 col-xs-8 col-xs-offset-2 col-sm-offset-0" ng-src = "{a curSong.Art a}" />
					<div class = "col-sm-4 col-xs-12">
						<span ng-bind = "curSong.Name"></span>
						<span ng-bind = "curSong.Artist"></span>
						<span ng-bind = "curSong.Album"></span>
					</div> 
					<div class = "col-sm-6 col-xs-6">
						<p>Player time</p>
					</div>
				</div>

				<div class="songList">
					<ul class = "list-group">
						<li class="list-group-item" ng-repeat = "item in list1 | orderBy:'-Vote'">
							<div class="row">								
								<img class = " col-sm-1 col-xs-2 listImage" ng-src="{aitem.Arta}"/>								
								<div class = "col-sm-10 col-xs-7">
									{aitem.Namea}
									{aitem.Artista}
									{aitem.Albuma}
									{aitem.Votea}
								</div>
								<div class = "col-sm-1">
									<button ng-click= "item.Vote = item.Vote + 1" type="button" class="btn btn-default" aria-label="Right Align">
  										<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
									</button>
									<button ng-click= "item.Vote = item.Vote - 1" type="button" class="btn btn-default" aria-label="Right Align">
  										<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
									</button>
								</div>
							</div>																						
						</li>
					</ul>
				</div>
				
				
			</div>
		</div>		
	</body>
</html>